/* ── Módulo de Playlists (Específico) ── */

#playlists-manager, #playlist-detail {
    width: 100%;
    height: 100%;
    layout: vertical;
}

#playlists-content-area, #playlist-detail-content-area {
    width: 100%;
    height: 1fr;
    padding: 1 2;
}

/* IDs específicos para herdar Grid e Container do Main */
#playlist-detail-container {
    height: auto;
}

#playlist-info-grid {
    height: auto;
}
